version: "3.7"

services:
  database:
    image: postgres
    container_name: database_rentx
    restart: always
    ports: 
      - 5432:5432
    environment: 
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=rentx-ignite
      - POSTGRES_DB=rentx
    volumes: 
      - pgdata:/data/postgres
  app:
    build: .
    container_name: rentx
    ports:
      - 3333:3333
      - 9229:9929
    volumes: 
      - .:/usr/app
    links: 
      - database
    depends_on: 
      - database

volumes: 
  pgdata:
    driver: local